
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
}



.padding{
padding: 0;
width: 18rem;
margin: 2rem;
margin-bottom: -1rem;
text-decoration: none;

}

.padding span{
    font-weight: 800;
}


.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

